/node_modules
/public/hot
/public/storage
/public/assets/trainer/documents
# /public/assets/trainer/images
# /public/assets/trainee/images/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/*
