.admin__profile__panel {
    .nav-tabs {
        margin: 0;
        border: 0;

        .nav-item {
            margin-right: 30px;
            margin-bottom: 0;
        }

        .nav-link {
            border: 0;
            padding: 0;
            font-size: 16px;
            font-weight: 500;
            color: #3A3A3A;
            padding-bottom: 3px;
            border-bottom: 2px solid;
            border-color: transparent;

            &.active {
                border-color: #0092D9;
                font-weight: 600;
                color: #000;
            }
        }
    }

    .card-body {
        .hed {
            h4 {
                color: #3A3A3A;
                font-size: 20px;
                font-weight: 600;
                margin: 5px 0 20px 0;
            }
        }
    }

    .personal__info {
        .actions {
            .btn {
                width: 130px;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .form__lft {
            h4 {
                font-size: 16px;
                margin: 10px 0 15px 0;
                font-weight: 600;
            }

            .form-group {
                padding-right: 80px;

                label {
                    color: #7F7F7F;
                    font-size: 11px;
                    font-weight: 600;
                    margin-bottom: 3px;
                }

                .form-control {
                    border: 1px solid #9C9C9C;
                    height: 46px;
                    border-radius: 3px;
                    color: #222222;
                    font-size: 14px;
                    font-weight: 500;
                    &.disabled {
                        pointer-events: none;
                        background: #e3e3e3;
                    }
                }
            }
        }

        .form__rgt {
            h4 {
                font-size: 14px;
                font-weight: 600;
                color: #707070;
                margin-bottom: 20px;
            }

            .profile-wrapper {
                img {
                    border-radius: 50%;
                    width: 120px;
                    height: 120px;
                    padding: 1px;
                    border: 2px solid #4f92d9;
                }
            }

            .main-profile-pic {
                display: inline-block;
                position: relative;
                text-align: center;

                .file-upload-profile {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                .file-upload-profile-btn {
                    background: #EFEFEF;
                    color: #9C9C9C;
                    border: 0;
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;

                    .fas {
                        font-size: 20px;
                    }

                    &:hover {
                        background: #0092d9;
                        color: #fff;
                    }
                }

                .file-upload-profile-input {
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                    z-index: -2;
                    top: 0;
                    width: 0;
                    right: 0;
                }

                .btn-primary {
                    &.btn-upload {
                        margin-top: 10px;
                        width: 100px;
                        font-size: 14px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }

    .change__password {
        .hed {
            h4 {
                color: #3A3A3A;
                font-size: 20px;
                font-weight: 600;
                margin: 5px 0 20px 0;
            }
        }

        .form-group {
            position: relative;

            label {
                color: #7F7F7F;
                font-size: 11px;
                font-weight: 600;
                margin-bottom: 3px;
            }

            .form-control {
                border: 1px solid #9C9C9C;
                height: 46px;
                border-radius: 3px;
                color: #222222;
                font-size: 14px;
                font-weight: 500;
            }

            .btn {
                &.btn-primary {
                    font-size: 14px;
                    border-radius: 3px;
                    min-width: 100px;
                }
            }

            .field-icon {
                &.toggle-password {
                    position: absolute;
                    right: 10px;
                    top: 36px;
                    cursor: pointer;
                    color: #ababab;
                    font-size: 16px;
                }
            }
        }
    }

    .admin__payment {
        .form-group {
            position: relative;

            label {
                color: #7F7F7F;
                font-size: 11px;
                font-weight: 600;
                margin-bottom: 3px;
            }

            .form-control {
                border: 1px solid #9C9C9C;
                height: 46px;
                border-radius: 3px;
                color: #222222;
                font-size: 14px;
                font-weight: 500;
            }
        }
        .actions {
            .btn {
                width: 130px;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}
