.table {
    &.table-responsive {
        margin-top: 10px;
    }

    .table__style {
        thead {
            th {
                color: #707070;
                font-size: 12px;
                font-weight: 600;
                border-top: 1px solid #EFEFEF !important;
                border-bottom: 1px solid #EFEFEF;
                padding: 15px 10px;
            }
        }

        tbody {
            tr {
                &:first-child {
                    td {
                        padding-top: 20px;
                    }
                }
            }
            td {
                font-size: 12px;
                font-weight: 500;
                border: 0;
                vertical-align: middle;
                color: #707070;
                padding: 0.55rem;
                .modal__link {
                    background: transparent;
                    border: 0;
                    padding: 0;
                    &:focus {
                        outline: none;
                    }
                }
                .image__text {
                    display: flex;
                    align-items: center;
                    img {
                        width: 32px;
                        border-radius: 4px;
                    }

                    span {
                        margin-left: 5px;
                    }
                }

                .confirm__btn {
                    span {
                        display: inline-block;
                        text-align: center;
                        margin-right: 10px;

                        .fa {
                            font-size: 14px;
                            width: 30px;
                            height: 30px;
                            border-radius: 50px;
                            line-height: 28px;
                            margin-bottom: 5px;
                        }

                        &.accept {
                            .fa {
                                color: #02BC77;
                                border: 1px solid #02BC77;
                            }
                        }

                        &.reject {
                            .fa {
                                color: #C1292E;
                                border: 1px solid #C1292E;
                            }
                        }
                    }
                }
                .status__confirm {
                    background: #fff;
                    color: #02BC77;
                    padding: 0;
                    min-width: 90px;
                    display: inline-block;
                    border-radius: 50px;
                    font-weight: 500;
                    text-align: center;
                    border: 1px solid;
                }
                .status__decline {
                    background: #fff;
                    color: #c1292e;
                    padding: 0;
                    min-width: 90px;
                    display: inline-block;
                    border-radius: 50px;
                    font-weight: 500;
                    text-align: center;
                    border: 1px solid;
                }
                .status__pending {
                    background: #fff;
                    color: #FF8000;
                    padding: 0 5px;
                    min-width: 90px;
                    display: inline-block;
                    border-radius: 50px;
                    font-weight: 500;
                    text-align: center;
                    border: 1px solid;
                }
                .btn-primary {
                    img {
                        margin-right: 8px;
                        position: relative;
                    }
                }
                .btn {
                    font-size: 14px;
                    padding: 4px 12px;
                    border-radius: 3px;
                    &:focus {
                        outline: none;
                    }
                }
                .btn {
                    &.btn-cancel {
                        &.disabled {
                            background: #fff;
                            border: 1px solid #C1292E;
                            color: #C1292E;
                            opacity: 0.4;
                        }
                    }
                    &.btn-success {
                        &.disabled {
                            border: 1px solid #B7B7B7;
                            background: #fff;
                            color: #B7B7B7;
                        }
                    }
                }
            }
        }
        tfoot {
            &.fill {
                td {
                    font-size: 12px;
                    font-weight: 600;
                    border: 0;
                    vertical-align: middle;
                    color: #fff;
                    background: #0073AB;
                }
            }
        }
    }
    &.table-summary {
        tbody {
            tr {
                td {
                    color: #0073AB;
                }
            }
        }
    }
}
