.trainers {
    padding: 80px 0;
}

.trainers__sidebar {
    padding-right: 40px;
    border-right: 1px solid #DBDBDB;

    h3 {
        color: #3A3A3A;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    h5 {
        color: #3A3A3A;
        font-size: 16px;
        font-weight: 600;
    }

    .search__box {
        position: relative;

        input {
            border: 2px solid;
            border-color: #E1E1E1;
            padding-left: 45px;
        }

        .btn {
            &.btn-search {
                position: absolute;
                top: 13px;
                left: 12px;
                color: #afafaf;
                padding: 5px;
            }
        }

    }

    .sorting {
        .form-select {
            border: 2px solid;
            border-color: #e1e1e1;
            line-height: 40px;
            padding: 0 0 0 20px;
            color: #7f7f7f;
            max-width: 200px;
        }
    }

    .checkboxing {
        h5 {
            margin-bottom: 20px;
        }

        .form-check {
            margin-bottom: 10px;

            label {
                color: #848484;
                font-weight: 400;
            }

            .form-check-input {
                &[type=radio] {
                    margin-top: 0px;
                    margin-right: 10px;
                    border-color: #3A3A3A;
                    border: 2px solid;
                    width: 20px;
                    height: 20px;
                }

                &:checked[type=radio] {
                    background: #222;
                    border-color: #222222;
                    box-shadow: 0 0 0 3px inset white;
                }
            }
        }
    }
}

.trainers__list {
    padding-left: 40px;

    .hed p {
        color: #9C9C9C;
        font-weight: 400;
    }

    h3 {
        color: #3A3A3A;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .search__result {
        margin-bottom: 40px;

        .form-group {
            margin: 0;

            .field {
                background: #ECF7FF;
                display: inline-flex;
                padding: 15px 60px 8px 20px;
                border-radius: 50px;
                color: #0092D9;
                font-weight: 400;
                position: relative;

                strong {
                    margin-right: 5px;
                    font-size: 18px;
                    font-weight: 500;
                    position: relative;
                    top: -3px;
                }

                button {
                    background: #fff;
                    border: 0;
                    color: #0092d9;
                    border-radius: 50px;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    right: 15px;
                    top: 9px;
                }
            }
        }
    }

    .action__viewall {
        .btn {
            color: #848484;
            font-weight: 600;
        }
    }
}

.list__box {
    .list__img {
        img {
            width: 100%;
        }
    }

    .list__cont {
        .basic__info {
            margin-bottom: 5px;

            a{
                text-decoration: none;
                h4 {
                    color: #0092D9;
                    font-weight: 600;
                    font-size: 18px;
                }
            }

            .price {
                margin-left: 10px;

                strong {
                    font-weight: 600;
                }
            }
        }

        .tags {
            margin-bottom: 10px;

            ul {
                li {
                    list-style-type: none;
                    margin-right: 10px;
                    background: #ecf7ff;
                    padding: 10px 15px;
                    border-radius: 6px;
                    font-weight: 500;
                    color: #0092d9;
                }
            }
        }

        .actions {
            h4 {
                color: #0092D9;
                font-size: 16px;
                position: relative;

                .badge__exp {
                    color: #fff;
                    position: absolute;
                    left: 12px;
                    top: 9px;
                    font-size: 13px;
                }

                img {
                    margin-right: 5px;
                }
            }
        }

        p {
            color: #9C9C9C;
            line-height: 26px;
        }
    }
}

.starrating-area {
    .fa {
        color: #bdbdbd;

        &.fill {
            color: #D4A407;
        }
    }
}


@media only screen and (max-width : $breakpoint-desktop-sm) {
    .trainers {
        .container {
            max-width: 90%;
        }
    }
}
@media only screen and (max-width : $breakpoint-ipad-md) {
    .trainers {
        padding: 40px 0;
        .trainers__sidebar {
            padding: 0;
            border:0;
            h3 {
                margin-bottom: 10px;
            }
            .form-group {
                &.search__box {
                    width: 60%;
                    display: inline-block;
                }
            }
            .sorting{
                display: inline-block;
                width: 38%;
                margin-top: 0 !important;
                position: relative;
                top: 8px;
                padding-left: 30px;
            }
            .checkboxing {
                margin-top: 10px !important;
                .form-check {
                    display: inline-block;
                    margin-right: 10px;
                }
                h5 {
                    margin-bottom: 10px;
                    margin-top: 10px !important;
                }
            }
        }
        .trainers__list {
            padding: 0;
            margin-top: 30px;
            .list__box {
                .list__img {
                    text-align: center;
                    img {
                        width: 150px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width : $breakpoint-mobile-580) {
    .trainers {
        padding: 40px 0;
        .trainers__sidebar {
            padding: 0;
            border:0;
            .form-group {
                &.search__box {
                    width: 100%;
                    display: block;
                }
            }
            .sorting{
                display: block;
                width: 100%;
                margin-top: 0 !important;
                position: relative;
                top: 0;
                padding-left: 0;
                margin-bottom: 20px;
            }
        }
        .trainers__list {
            .search__result {
                .form-group {
                    .field {
                        width: 100%;
                    }
                }
            }
        }
    }
}