.modal {
    &.modal-custom-centered {
        text-align:center;
        &::before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }
        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
            width: 100%;
            max-width: 500px;
        }
    }

    .modal-body {
        padding:0;
        h3 {
            text-align: center;
            font-weight: 600;
            color: #3A3A3A;
            margin-top: 7px;
            .colored {
                color: #0092D9;
            }            
        }
        p {
            font-weight: 500;
            color: #222222;
        }
    }
    .modal-content {
        font-family: "Montserrat", sans-serif;
        padding: 20px;
        border-radius: 3px;
        .modal-header{
            text-align: center;
        }
        .close {
            opacity: 1;
            color: #6B6B6B;
            position: absolute;
            right: 15px;
            top: 10px;
            &:focus {
                outline: none;
            }
        }
    }
    &.modal-session-request {
        .modal-dialog {
            width: 450px;
        }
        .modal-body {
            .__img {
                text-align: center;
                margin-top: 25px;
                img {
                    border-radius: 50px;
                    width: 90px;
                    height: 90px;
                    border: 1px solid #0092d9;
                    padding: 2px;
                }
            }
            .listing {
                display: flex;
                justify-content: center;
            }
            .__cont {
                text-align: center;
                h4 {
                    font-weight: 600;
                    color: #3A3A3A;
                    margin: 20px 0;
                    text-align: center;
                }
                ul {
                    padding: 0;
                    text-align: left;
                    li {
                        list-style: none;
                        margin-bottom: 15px;
                        font-weight: 500;
                        color: #3A3A3A;
                        img {
                            margin-right: 10px;
                        }
                    }
                }
            }
            .__action {
                .btn {
                    width: 100%;
                    padding: 13px;
                    &.btn-success {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    &.modal-decline-session-request, &.modal-cancel-session-request, &.modal-accept-session-request{
        .modal-body {
            p {
                padding: 20px 0;
            }
            .actions {
                text-align: right;
                .btn {
                    padding: 10px 50px;
                    font-size: 12px;
                    font-weight: 600;
                }
            }
        }
    }
    &.modal-session-accepted {
        .modal-dialog {
            width: 450px;
        }
        .modal-body {
            .__img {
                text-align: center;
                margin-top: 25px;
                img {
                    border-radius: 50px;
                    width: 90px;
                    height: 90px;
                    border: 1px solid #0092d9;
                    padding: 2px;
                }
            }
            p {
                margin-top: 10px;
                text-align: center;
                .fa {
                    color: #00922C;
                }
            }
        }
    }
    &.modal-session-rejected {
        .modal-dialog {
            width: 450px;
        }
        .modal-body {
            .__img {
                text-align: center;
                margin-top: 25px;
                img {
                    border-radius: 50px;
                    width: 90px;
                    height: 90px;
                    border: 1px solid #0092d9;
                    padding: 2px;
                }
            }
            p {
                margin-top: 10px;
                text-align: center;
                .fa {
                    color: #C1292E;
                }
            }
        }
    }
}


