/* Using SCSS variables to store breakpoints */
/*desktop*/
$breakpoint-desktop-md: 1280px;
$breakpoint-desktop-sm: 1199px;
/*Ipad*/
$breakpoint-ipad-lg: 1024px;
$breakpoint-ipad-md: 991px;
$breakpoint-ipad-sm: 814px;
// /*mobile*/
$breakpoint-mobile-767: 767px;
$breakpoint-mobile-768: 768px;
$breakpoint-mobile-667: 667px;
$breakpoint-mobile-640: 640px;
$breakpoint-mobile-603: 603px;
$breakpoint-mobile-580: 580px;
$breakpoint-mobile-533: 533px;
$breakpoint-mobile-480: 480px;
$breakpoint-mobile-460: 460px;
$breakpoint-mobile-414: 414px;
$breakpoint-mobile-390: 390px;
$breakpoint-mobile-340: 340px;