.message__box__wrapper .direct-chat-messages::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.message__box__wrapper .direct-chat-messages::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}
.message__box__wrapper .direct-chat-messages::-webkit-scrollbar-thumb {
    background-color: #3A3A3A;
    border-radius: 0;
}
.message__box__wrapper .direct-chat-messages::-webkit-scrollbar-corner {
    background: transparent;
}

.ui-timepicker-container::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.ui-timepicker-container::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}
.ui-timepicker-container::-webkit-scrollbar-thumb {
    background-color: #3A3A3A;
    border-radius: 0;
}
.ui-timepicker-container::-webkit-scrollbar-corner {
    background: transparent;
}

.appointment__box__wrapper .card-body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.appointment__box__wrapper .card-body::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}
.appointment__box__wrapper .card-body::-webkit-scrollbar-thumb {
    background-color: #3A3A3A;
    border-radius: 0;
}
.appointment__box__wrapper .card-body::-webkit-scrollbar-corner {
    background: transparent;
}